@{
    ViewBag.Title = "SeniorPictures";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Here are some of our pictures for our graduating seniors!!!</h2>

@{
    Html.RenderPartial("_Gallery");
}