<script src="@Url.Content("~/Scripts/_Slideshow.cshtml.js")" type="text/javascript"></script>

<div id="hide-slideshow" style="display:none; text-align:center">
    <p>
        <label id="hide-slideshow-lbl" style="cursor:pointer">Hide slideshow [-]</label>
    </p>
</div>

<div id="slideshow-container">
    <img src="" alt="" id="slideshowimage"/>
</div>
