
@{
    ViewBag.Title = "Admin";
}

<h2>Gallery/Images Administration</h2>

<div id="error-div">
    <span id="error-span">
        
    </span>
</div>

<div id="gallery-div">
@{
    Html.RenderPartial("_Admin");
}
</div>