#slideshow-container
{
	text-align: center;
	display:none;
<<<<<<< HEAD
	height:335px;
=======
>>>>>>> eedbcb37b2fc619251511c0c1aa546b198386737
}

#slideshowimage
{
	display: none;
	width: 350px;
	height: 300px;
	box-shadow: 0px 0px 20px #000;
}
